# TEMPLATE ENV FILE

## This is a template for the environment variables
## Cypress will automatically load the variables from the .env file in the root of the project.
## Copy this file to .env and fill in the values for your environment.

CYPRESS_SAUCE_PASSWORD= place_your_sauce_password_here